
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- <link rel="shortcut icon" href="../../assets/ico/favicon.ico"> -->

	<title>Narrow Jumbotron Template for Bootstrap</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" >
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <!---Arvo font-->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Arvo:400,700">
    <!-- Custom styles for this template -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<!-- Custom styles for this template -->
	<!-- <link rel="stylesheet" href="./_assets/css/home.css"> -->
    <link rel="stylesheet" type="text/css" href="_assets/css/header.css">
    <link rel="stylesheet" type="text/css" href="_assets/css/article.css">


	<!-- Just for debugging purposes. Don't actually copy this line! -->
	<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
  </head>
  <body>
	<div class="base">
		<nav class="header top-nav">
        <ul class="header top-nav">
          <li class="pull-left"><i class="fa fa-bars"></i> Sections</li>
          <li class="pull-left"><i class="fa fa-search"></i> Search</li>
          <li><span class="header top-nav username">joshstickles...</span> <i class="fa fa-cogs"></i></li>
        </ul>
      </nav>
      <hr class="header divider">
      <p class="header title">CapTech.io News</p>
      <p class="header date">Monday, June 12 2014</p>
      <hr class="header divider">

      <nav class="header categories">
        <ul>
          <li><a id="world" href="#World" data-attribute="world">World</a></li>
          <li><a id="business" href="#Business">Business</a></li>       
          <li><a id="opinion" href="#Opinion">Opinion</a></li>
          <li><a id="sports" href="#Sports">Sports</a></li>
          <li><a id="fashion" href="#Fashion">Fashion &amp; Style</a></li>
          <li><a id="video" href="#Video">Video</a></li>
        </ul>
      </nav>
      <div class="row">
          <div class="pull-right" id="expand">
            Click to expand
            <span id="arrow">
              <i class="fa fa-chevron-down"></i>
            </span>
          </div>
        </div>
		<div class="container">

			<div class="row marketing">
				<div id="article">
					<script id="articleTemplate" type="text/template">
					<div class="col-md-12">
						<div class="col-md-7" style="border-right:thin #cccccc solid">
							<p id="articleTitle"><%= main.headLine %></p>
							<% if (main.numberOfImages > 0) { %>
								<img src="http://placehold.it/600x350">
							<% } %>
							<p id="articleCaption"><%= main.fullStory %></p>
							<p id="articleContent">
								<%= main.snippet %>
							</p>
							</div>
							<div class="col-md-5">
							<p id="relatedTitle"><%= aside.headLine %></p>
							<p class="relatedContent">
								<%= aside.fullStory %>
							</p>
							<% if (main.numberOfImages > 0) { %>
								<img src="http://placehold.it/400x250">
							<% } %>
							<p class="relatedContent">
								<%= aside.snippet %>
							</p>
						</div>
					</div>
					</script>
				</div>
			</div>
			<div class="footer">
				<p>CapTech 2014 Interns</p>
			</div>

		</div> <!-- /container -->
	</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <!-- Latest compiled and minified JavaScript -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
    <script src="http://documentcloud.github.com/backbone/backbone-min.js"></script>

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <script type="text/javascript" 
    src="./_assets/backbone/models/article.js"></script>
    <script type="text/javascript" 
    src="./_assets/backbone/collections/articleList.js"></script>
    <script type="text/javascript" 
    src="./_assets/backbone/views/articleView.js"></script>
    <script type="text/javascript" 
    src="./_assets/backbone/views/appView.js"></script>
</body>
</html>
