/*
* Article CSS
*/

.header
{
	text-align: center;
	font-family: 'Arvo';
}
#banner.header
{
	font-size: 18px;
	font-weight: bold;
	font-style: italic;
	color: #333333;
	background-color:#D3D3D3;
	height: 50px;
	padding: 5px;
}
.pull-right
{
	font-size: 9pt;
	color: #F8F8F8;
	font-style: normal;
	float: right;
}
.pull-right.arrow
{
	font-size: 18px;
	color: #F8F8F8;
	padding-top: 5px;

}
.base
{
	font-family: 'Arvo', serif;
	font-weight: normal;
	color: #333333;
	padding: 0px 60px 0px 60px;
	margin-top: 0;
}

.header
{
	text-transform: uppercase;
}

.border{
	border-right: thin solid #cccccc;
	line-height: 3em;
}
#articleTitle{
	font: bold italic 26px/28px Arvo;
	color: #333333;
}
#articleCaption{
	font: italic 10px/15px Arvo;
	color: #333333;
}
#articleContent{
	font: 10px/15px Arvo;
	color: #333333;
}
#relatedTitle{
	font: italic 16px/18px Arvo;
	color: #666666;
}
.relatedContent{
	font: 12px/15px Arvo;
	color: #666666;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

@media only screen 
	and (min-device-width : 320px) 
	and (max-device-width : 480px) {
	
	.header.title {
		font-size: 10px;
	}

	.header.date {
		font-size: 7px;
	}

	.base {
		padding:0px;
	}

	.custom-row {
		margin:0px;
	}

	.categories ul li {
		padding: 5px;
	}
}
