/**
<<<<<<< HEAD
* Article CSS
*/

.header
{
	text-align: center;
	font-family: 'Arvo';
}
#banner.header
{
	font-size: 18px;
	font-weight: bold;
	font-style: italic;
	color: #333333;
	background-color:#D3D3D3;
	height: 50px;
	padding: 5px;
}
.header.top-nav ul li
{
	font-size: 9pt;
	color: #333333;
	text-transform: uppercase;
	display: inline;
	padding-right: 20px;
}
.header.top-nav ul li.active
{
	font-weight: bold;
}
.pull-right
{
	font-size: 9pt;
	color: #F8F8F8;
	font-style: normal;
	float: right;
}
.pull-right.arrow
{
	font-size: 18px;
	color: #F8F8F8;
	padding-top: 5px;
=======
* HEADER CSS
*/

.base
{
	font-family: 'Arvo', serif;
	font-weight: normal;
	color: #333333;
	padding: 0px 60px 0px 60px;
	margin-top: 0;
}

.header
{
	text-transform: uppercase;
}

.header.top-nav ul
{
	margin-top: 0;
	padding: 0px;
}

.header.top-nav ul li
{
	font-size: 9px;
	text-align: top;
	vertical-align: middle;
	display: inline;
} 

.header.title
{
	font-weight: bold;
	font-size: 36px;
	text-align: center;
	margin: 0;
}

.header.date
{
	font-size: 14px;
	text-align: center;
	margin: 0;
}

.header.categories
{
	font-size: 14px;
>>>>>>> d55c63ab6d2d109720911a7343189743a315e79a
}
