/**
* HEADER CSS
*/

.base
{
	font-family: 'Arvo', serif;
	font-weight: normal;
	color: #333333;
	padding: 0px 80px 0px 80px;
	margin: 0;
}
.header
{
	text-transform: uppercase;
}
.header.divider
{
	border-top: 2px solid #D3D3D3;
	margin: 10px;
	margin-right: 0px;
	margin-left:0px;
}
.header.top-nav.username 
{
	text-transform: lowercase;
	color: #7676ff;
	padding-right: 5px;
}
.header.top-nav i
{
	font-size: 18px;
	vertical-align: middle;
}
.header.top-nav ul
{
	margin-top: 0;
	padding-top: 5px;
	padding-left: 0px;
}
.header.top-nav ul li
{
	font-size: 10px;
	font-weight: normal;
	text-align: top;
	vertical-align: middle;
	display: inline;
	padding-right: 5px;
} 
.header.top-nav ul li.active
{
	font-weight: bold;
}
.header.top-nav ul li:last-child
{
	float: right;
}
.header.title
{
	font-weight: bold;
	font-size: 36px;
	text-align: center;
	margin: 0;
}
.header.date
{
	font-size: 14px;
	text-align: center;
	margin: 0;
}
.base.top-nav ul li
{
	text-align: center;
	font-size: 9pt;
	color: #333333;
	text-transform: uppercase;
	display: inline;
	padding-right: 20px;
}
.base.top-nav ul li.active
{
	font-weight: bold;
}
.header.categories {
	margin: 0;
}

.header.categories ul
{
	text-align: center;
}
.header.categories a
{
	color: black;
}
.header.categories ul li
{
	text-align: center;
	font-size: 9pt;
	color: #333333;
	display: inline;
	padding-right: 40px;
}
.header.categories ul li.active
{
	font-weight: bold;
}
.collapse
{
	display: block;
	font-size: 18px;
	font-weight: bold;
	font-style: italic;
	color: #333333;
	height: 67px;
	background-color:#D3D3D3;
    overflow: hidden;
    transition: height 1s;
    -moz-transition: height 1s; /* Firefox 4 */
    -webkit-transition: height 1s; /* Safari and Chrome */
    -o-transition: height 1s; /* Opera */
}
.expand
{
	font-size: 18px;
	font-weight: bold;
	font-style: italic;
	color: #333333;
	background-color:#D3D3D3;
    overflow: hidden;
    transition: height 1s;
    -moz-transition: height 1s; /* Firefox 4 */
    -webkit-transition: height 1s; /* Safari and Chrome */
    -o-transition: height 1s; /* Opera */
}
.pull-right
{
	text-align: right;
	vertical-align: top;
	padding-top: 0px;
	padding-right: 5px;
}
#arrow
{
	font-size: 14px;
	color: #FFFFFF;
	vertical-align: text-top;
}
.fa
{
	font-size: 26px;
}
#banner-button 
{
	margin-right: 15px;
	margin-bottom: -35px;
}