/** 
* HOME PAGE CSS
*/

.header
{
  text-align: center;
  font-family: 'Arvo';
  padding-left: 80px;
  padding-right: 80px;
}
#banner.header
{
  font-size: 16px; /*should be 18pt*/
  font-weight: bold;
  font-style: italic;
  color: #333333;
  background-color:#D3D3D3;
  height: 50px;
  padding-top: 15;
  padding-bottom: 15;
}
.header.top-nav ul li
{
  font-size: 9pt;
  color: #333333;
  text-transform: uppercase;
  display: inline;
  padding-right: 20px;
}
.header.top-nav ul li.active
{
  font-weight: bold;
}
.pull-right
{
  font-size: 9pt;
  color: #F8F8F8;
  font-style: normal;
  float: right;
}
.pull-right.arrow
{
  font-size: 18px;
  color: #F8F8F8;
  padding-top: 5px;
}



/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
/*.jumbotron {
  text-align: center;
}*/

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

