/** 
* HOME PAGE CSS
*/
.custom:first-line{
  font-weight: bold;
}

.textbottom{
  vertical-align: text-bottom;
}


.banner
{
  font-size: 16px; /*should be 18pt*/
  font-weight: bold;
  font-style: italic;
  color: #333333;
  background-color:#D3D3D3;
  padding-top: 20px;
  margin-bottom: 15px;
}
.banner p:nth-child(2)
{
  padding-top: 15px;
}
.header.top-nav ul li
{
  font-size: 9pt;
  color: #333333;
  text-transform: uppercase;
  display: inline;
  padding-right: 20px;
}
.header.top-nav ul li.active
{
  font-weight: bold;
}
.pull-right
{
  font-size: 9pt;
  color: #F8F8F8;
  font-style: normal;
  float: right;
}
.pull-right.arrow
{
  font-size: 18px;
  color: #F8F8F8;
  padding-top: 5px;
}
.head {

  font: bold italic 18px Arvo;
}
#heading1{
	font: italic 16px/20px Arvo;
  margin-bottom: 0px;
}
.heading2{
  font: bold italic 16px/20px Arvo;
}
.snippet{
  font: 10px/15px Arvo;
}
#title{
  font: italic 16px Arvo;
  text-align: center;
}
.title1{
  font: italic 12px/15px Arvo;
  text-transform: uppercase;
}
#travelhead{
  font: bold 12px Arvo;
}
#travelhead img{
  width: inherit;
}
.thead{
  font: bold 12px/15px Arvo;
}

.location{
  font: bold 10px/15px Arvo;
  text-transform: uppercase;
}

.banner{
  background-color: #cccccc;
}

#bannerTop{
  font: 12px Arvo;
  color:#ffffff;
  text-align: right;
}
#bannerMid{
  font: bold italic 18px Arvo;
  text-align: center;
}

.custom-row {
  margin: 15px;
}
