/** 
* HOME PAGE CSS
*/
.custom:first-line{
  font-weight: bold;
}

#featuredArticles.col-md-12{
  padding-left: 6px;
  padding-right: 5px;
}

.banner
{
  font-size: 16px; /*should be 18pt*/
  font-weight: bold;
  font-style: italic;
  color: #333333;
  background-color:#D3D3D3;
  height: 50px;
  padding-top: 15;
  padding-bottom: 15;
}
.header.top-nav ul li
{
  font-size: 9pt;
  color: #333333;
  text-transform: uppercase;
  display: inline;
  padding-right: 20px;
}
.header.top-nav ul li.active
{
  font-weight: bold;
}
.pull-right
{
  font-size: 9pt;
  color: #F8F8F8;
  font-style: normal;
  float: right;
}
.pull-right.arrow
{
  font-size: 18px;
  color: #F8F8F8;
  padding-top: 5px;
}


.head {

	font: bold italic 18px Arvo;

}

#heading1{

	font: italic 16px/20px Arvo;
}

.heading2{
	font: bold italic 16px/20px Arvo;
}
.snippet{
	font: 10px/15px Arvo;
}
#title{
	font: italic 16px Arvo;
	text-align: center;
}
.title1{
	font: italic 12px/15px Arvo;
	text-transform: uppercase;
}
#travelhead{
	font: bold 12px Arvo;
}
#travelhead img{
  width: inherit;
}
.thead{
	font: bold 12px/15px Arvo;
}

.location{
  font: bold 10px/15px Arvo;
}


.banner{

	background-color: #cccccc;
}

#bannerTop{
	font: 12px Arvo;
	color:#ffffff;
	text-align: right;
}
#bannerMid{
	font: bold italic 18px Arvo;
	text-align: center;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
.container-narrow > hr {
  margin: 30px 0;
}

/* Supporting marketing content */
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

